



#outer{ /* 가운데 정렬을 위한 outer div*/
    margin: 0 auto;
    max-width: 1000px;
}

header{
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    border-color: rgba(37,58,46, 1);
}

header div{
    padding: 0.5em 10px 0.5em 10px;
}

.a{
    color: gray;
    font-size: small;
}

.logo{
    display:inline-block;
	width:1em;
	height:1em;
    align-items: center;
}

label{
    border-width:1px 1px 0px 1px;
    border-style: solid;
    border-color: white;
    width: auto;
    height: 2em;
    line-height: 2em;
    vertical-align: center;

    flex-grow:1;
    text-align: center;
    padding : 10px;
    border-radius:10px 10px 0px 0px;
}


#poster {
    padding :10px;
}


[type="radio"], /*라디오버튼 안나타나게 하기*/
span {
vertical-align: middle;
appearance: none;
display: none;
}

#POP, #radio {
  
   box-sizing: border-box;
}

#radio {
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: rgba(37,58,46, 1);
    display: flex;
    flex-direction: row;
}

img {
    width: 100%;
}

#POP2, #POP3, #POP4 {
    padding :10px;
}

#FAQ {
    padding :2em;
}

.FAQ {
    padding :1em;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: rgba(37,58,46, 1);
}

.Question {
    line-height: 3em;
    font-size: larger;
}

.Answer_Number{
    line-height: 2em;
}

/*
div{
    border:solid;
    border-width: 1px; 
}

*/ /*영역 확인 용  다 확인하면 삭제할 것*/

#posterImage{
    display:block;
}
body{
    margin: 0;
    padding: 0;
    font-family:'NanumBarunGothic';
    font-size : 12pt;
    color:rgba(37,58,46, 1);
}
.title{ /*header*/
    color: rgba(37,58,46, 1);
    font-weight: bold;
    font-size: 30pt;
}

button{
    padding: 0.5em;
    color: rgba(248,245,235,1);
    background-color: rgba(37,58,46, 1);;
    border: none;
    border-radius: 0.5em;
    width: 100%;

    font-size: 12pt;
}

#phone_ticket{
    display: none;
}

@media screen and (max-width: 500px){
            #posterImage {
                display: none;
            }

            body{
                margin: 0;
                padding: 0;
                font-family:'NanumBarunGothic';
                font-size: 9pt;
                color:rgba(37,58,46, 1);
            }

            .title{
                font-size:15pt;
            }

            button{
                padding: 0.5em;
                color: rgba(248,245,235,1);
                background-color: rgba(37,58,46, 1);;
                border: none;
                border-radius: 0.5em;
                width: 100%;

                font-size: 9pt;
            }

            #computer_ticket {
                display: none;
            }


            #phone_ticket {
                display: block;
                position: fixed;
                bottom: 2px;
           }


}
