@charset "UTF-8";


@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 400;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}


body{
    margin: 0;
    padding: 0;
    font-family:'NanumBarunGothic';
}

#outer{ /* 가운데 정렬을 위한 outer div*/
    margin: 0 auto;
    max-width: 1000px;
}

header{
    border-width: 0px 0px 5px 0px;
    border-style: solid;
    border-color: red;
}

header div{
    padding: 0.5em 10px 0.5em 10px;
}


.title{ /*header*/
    font-size:xx-large;
    color: red;
    font-weight: bold;
}

.a{
    color: gray;
    font-size: small;
}

.logo{
    display:inline-block;
	width:1em;
	height:1em;
    align-items: center;
}

label{
    border-width:1px 1px 0px 1px;
    border-style: solid;
    border-color: white;
    width: auto;

    flex-grow:1;
    text-align: center;
    padding : 10px;
    border-radius:10px 10px 0px 0px;
}


#poster {
    padding :10px;
}


[type="radio"], /*라디오버튼 안나타나게 하기*/
span {
vertical-align: middle;
appearance: none;
display: none;
}

#POP, #radio {
   padding : 0 10px 0 10px;
   width:100%;
   box-sizing: border-box;
}


#radio {
    display: flex;
    flex-direction: row;
}

img {
    width: 100%;
}
/*
div{
    border:solid;
    border-width: 1px; 
}

*/ /*영역 확인 용  다 확인하면 삭제할 것*/