@charset "UTF-8";


@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 400;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

r{
    color:red;
}

rb{
    color:red;
    font-weight: bold;
}

.subtitle {
    font-weight: bold;
    margin: 20px 0 20px 0;
}

#POP2 div{
    line-height: 2em;
}
    
#POP2 table{
    width:100%;
    background-color:rgba(248,245,235,1);   
    border-collapse: collapse
}

#POP2 td {
   line-height:3em;
}
#POP2 tr {
   border-width:1px 0 1px 0;
   border-style:solid;
   border-color:rgba(18,32,25, 1);
}

#POP2 .left{
    width:20%;
    font-weight:bold;
    vertical-align:center;
    text-align:center;
    border-spacing: 1em;
    background-color:rgba(37,58,46, 1);
    color: rgba(248,245,235,1);  
}
#POP2 .right{
    line-height:1.5em;
    padding:1em;
    box-sizing:border-box;

}

#POP2 .title{
    width:100%;
    height:3em;
    font-weight:bold;
    font-size:15pt;
    padding: 1em 0 1em 0;
    box-sizing:border-box;
    margin : 1em 0 1em 0;
}


.bold{
    font-weight:bolder;
}

.Answer  ul {
    list-style-type: none;
    list-style-position: outside;
  }
.Answer li:before {
    content: "\f0a4";
    font-family: FontAwesome;
  }



#top_information table{
    width:100%;
    border-collapse: collapse
}

#top_information td {
   line-height:2em;
}